body {
    background-color: black;
    text-align: center;


}

@font-face {
    font-family: "MrPixel";
    src: url("/fonts/MrPixel/mister_pixel_regular.woff") format("woff");
    }

ul{
    list-style-type: none;
}
