::-webkit-scrollbar {
    display: none;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
   html {
      font-size: 2em;
    }
  }
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {
   html {
      font-size: 1.2em;
    }
  }

body {
    background: linear-gradient(0deg, rgba(34,51,195,1) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 100%);
}

canvas {
    width: 100% !important;
    height: 100% !important;
  }

  #deafultCanvas0{
    width: 100% !important;
    height: 100% !important;
  }